header {
	margin: 0px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-image: url("../img/common-nav.jpg");
	background-size: cover;
	-webkit-text-stroke: 0.1px #FFFFFF;
}

h1 {
	margin: 0px;
}

ul {
	list-style: none;
	padding: 0;
}

ul .parents {
	float: left;
}

ul .child {
	z-index: 1;
}

li {
	width : 150px;
}

article {
	clear: left;
}
